/* AddEmployee.css */
body {
    background-color: #000508;
    font-family: Arial, sans-serif;
  }

  .add-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0/5rem;
    background-color: #1379e6;
    border-radius: 11px;
    width: 50vw;
    height: 95vh;
  }

.add-form{
  display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

  .add-form-group{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input1 {
    width: 30vw;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #ced4da;
  }
  
  .add-button{
    background-color: #0056b3;
  }

  .add-button:hover{
    background-color: #82b6f1;
  }


  
  