/* Home.css */
body {
    background-color: rgb(20, 19, 19);
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #65aee9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    width: 900px;
  }
  
  .text-center {
    color: #dde4eb;
  }
  
  .btn-primary {
    background-color: #12b7d7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .table {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 50px;
    width: 1500px;
    margin-left: 20px;
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .button-24 {
    background: #1c9bda;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  