/* Login.css */
body {
    background-color: #06152b;
    font-family: Arial, sans-serif;
  }
  
  .text1 {
    color: #dee6ed;
  }
  
  .form-container {
    background-color: rgb(113, 165, 214);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(210, 97, 236, 0.1);
  }
  
  .form-container h3 {
    margin-bottom: 20px;
  }
  
  .form-container .form-group {
    margin-bottom: 15px;
  }
  
  .form-container .form-control {
    border-radius: 5px;
  }
  
  .form-container .btn {
    background-color: #1379e6;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .form-container .btn:hover {
    background-color: #272a2d;
  }
  
  .form-container p {
    margin-top: 15px;
  }
  
  .form-container a {
    cursor: pointer;
    text-decoration: underline;
  }
  