/* Update.css */
body {
  background-color: #0b0c0c;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.up-container {
  background-color: #5c96dd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

h3 {
  color: #ecf1f5;
  background-color: #0b0c0c;
  
  text-align: center;

  margin-bottom: 20px;
}
.formdiv{
  margin-left: 17px;
  flex: content;
  margin-bottom: 5px;
  padding:5px;

}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  font-weight: bold;
  color:antiquewhite;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.alert {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
      padding: 20px;
  }

  h3 {
      font-size: 1.5rem;
  }

  .input {
      padding: 8px;
  }

  .button {
      padding: 10px;
  }
}
